html, body {
  font-family: Helvetica,Arial,sans-serif;
  font-size: 15px;
  height: 100%;
  margin: 0;
  padding: 0;
}


/* Map */
#map {
  height: 100%;
  position: relative;
  width: 100%;
}
.marker-info {
  font-family: Helvetica,Arial,sans-serif;
}
.marker-info h3 {
  margin: 0;
  padding: 0 0 2px 0;
}
.marker-info p {
  color: #777777;
  margin: 0;
  padding: 0;
}
.marker-info .approximate-location {
  color: #FF0000;
}
.marker-info p:nth-of-type( 2 ) {
  padding-top: 20px;
}
.marker-info a,
.marker-info a:hover {
  color: #0000EE;
}


/* Sidebar */
#sidebar {
  background-color: #f1c40f;
  color: #FFFFFF;
  height: 100%;
  margin: 0;
  overflow-x: scroll;
  overflow-y: scroll;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 320px;
}
#sidebar-close {
  background: none!important;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font: inherit;
  left: 20px;
  margin: 0;
  padding: 0!important;
  position: absolute;
  text-transform: uppercase;
  top: 20px;
}
#sidebar .info {
  padding: 20px;
}
#sidebar h1 {
  font-size: 32px;
  margin: 100px 0 0 0;
  padding: 0;
  text-transform: uppercase;
}
#sidebar h2 {
  font-size: 13px;
  margin: 0 0 30px 0;
  padding: 0;
}
#sidebar p {
  font-size: 13px;
  margin: 15px 0 15px 0;
  padding: 0;
}
#sidebar a,
#sidebar a:hover {
  color: #FFFFFF;
}
#sidebar .strike {
  text-decoration: line-through;
}